---
---
<div class="debug">
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="show-xs">Mobile View</div>
      <div class="show-sm">Small View</div>
      <div class="show-md">Medium View</div>
      <div class="show-lg">Large View</div>
      <div class="show-xl">Extra Large View</div>
    </div>
  </div>
</div>
