<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html favicon="/favicon_pride.png" %}
<body>
  <div class="header wrapper">
    {% include header.html %}
  </div>
  </br>
  <div class="container wrapper">
    {% for post in site.categories[page.filter_category] %}
      {% include post_excerpt.html post=post %}
    {% endfor %}
  </div>
  <br/>
  <hr/>
  <div class="footer wrapper">
    {% include footer.html %}
  </div>
  {% include scripts.html %}
</body>
</html>
