.blog {
	padding-bottom: 30px;
	li {
		margin-bottom: 2em;

		.top {
			width: 100%;
			display: table;

			.url {
				display: table-cell;
				text-align: left;
			}
			.date {
				display: table-cell;
				text-align: right;
			}
		}
	}
	.date {
		text-align: right;
	}
	.excerpt {
		padding-top: 0.5em;

		.more {
			padding-left: 0.5em;
		}
	}
}
.full-width {
  width: 100%;
}

span.tags {
  font-family: $font-family-monospace;
  font-weight: 500;
  font-size: 0.7em;

  color: $gray-500;
  a {
    color: $gray-500;
    &:visited {
  	   color: $gray-500;
    }
    &:hover {
  	   color: $link-color;
    }
  }
}
span.post-date {
  color: $gray-600;
  a {
    color: $gray-600;
    &:visited {
  	   color: $gray-600;
    }
    &:hover {
  	   color: $link-color;
    }
  }
}
