body {
	color: $dark;
	background: $white;
	padding-bottom: 1em;
}
p {
	font-size: 1em;
	line-height: 1.5em;
}
.grey {
    color: #CCCCCC;
}
.dark-grey {
    color: #AAAAAA;
}
a:not(.music-link) {
  color: $link-color;
  text-decoration: none;
	position: relative;
  &:visited {
	color: $link-color;
	text-decoration: none;
  }
  &:hover {
	color: $link-color;
	text-decoration: none;
  }
	&:hover::after, &.active::after {
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 2px;
		border-bottom: 1px solid $link-color;
	}
  &:active {
	color: $link-color;
	text-decoration: none;
  }
}
ul {
	list-style: none;
	li {
		padding: 5px;
		padding-left: 10px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
	}
}
strong {
	font-weight: 700;
}
em {
	font-style: italic;
}
code, pre {
	font-family: 'Inconsolata', monospace;
	font-size: 0.8em;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
	font-style: italic;
	color: $gray-600;
}
table.centered {
    width: 100%;

    tr {
        width: 100%;
    }
    td {
        width: 100%;
        text-align: center;
    }
}
.centered {
    text-align: center;
}

hr.faded {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.header {
  background-color: $white;

  .btn {
    background-color: $white;
    border: 0;
  }

  a {
  	&:hover::after, &.active::after {
  		content: '';
  		left: 0;
  		bottom: 0;
  		border-bottom: 0;
      border-bottom: 1px solid $dark;
  	}
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
