.header {
	padding-top: 2em;
	padding-bottom: 3em;
	@media screen and (max-width: $br) {
		padding-top: 1em;
		padding-bottom: 2em;
	}
	h1 {
		font-size: 2em;
		margin-bottom: 0;
	}
	ul {
		margin-top: 10px;
		width: 100%;
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;
		li {
            font-size: 1.5em;
			display: inline;
			padding: 0px 0.5em;
			text-align: center;
		}
	}
}
