.header {
	padding-top: 2em;
	padding-bottom: 3em;
	@media screen and (max-width: 600px) {
		padding-top: 1em;
		padding-bottom: 2em;
	}
	h1 {
		font-size: 2em;
		margin-bottom: 0;
	}
	ul {
		margin-top: 10px;
		width: 100%;
		max-width: 100%;
		display: table;
		height: 2.3em;
		li {
            font-size: 1.5em;
			display: table-cell;
			text-align: center;
		}
	}
}
