.header, .footer {
	@media screen and (max-width: $br) {
		padding-top: 1em;
		padding-bottom: 2em;
	}
	h1 {
		font-size: 2em;
		margin-bottom: 0;
	}
	ul {
		margin-top: 10px;
		width: 100%;
		max-width: 100%;
		display: table;
		height: 2.3em;
		li {
      font-size: 1.5em;
			display: table-cell;
			text-align: center;
		}
	}
}

.header ul, .footer ul {
  padding: 0;
}

.header.wrapper, .footer.wrapper {
  padding: 0;
}

.menuItem {
  font-size: $font-size-base * 1.5;
  text-align: center;
}
