@font-face {
    font-family: 'Linux Biolinum'; /* normal */
    src: url('/fonts/linuxbiolinum/LinBiolinum_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum'; /* italic */
    src: url('/fonts/linuxbiolinum/LinBiolinum_RI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Biolinum'; /* bold */
    src: url('/fonts/linuxbiolinum/LinBiolinum_RB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
