.music-link {
    font-size: 11pt;

    &.music-link-youtube {
        color: #E5322E;

        .black {
            color: black;
        }
    }

    &.music-link-applemusic {
        color: black;
    }

    &.music-link-spotify {
        color: #1ED760;
    }

    &.music-link-geniuslyrics {
        font-size: 10pt;
        padding-left: 0.4em;
        padding-right: 0.2em;
        padding-bottom: 0.2em;
        background-color: #FFFF64;
        font-family: sans-serif;
        color: #FFFF64;
        text-shadow: -2px 2px 0px black;
    }

    margin-right: 1em;
    &:hover {
        text-decoration: none;
    }
}

.music-post-header {
    text-align: center;
    padding-bottom: 2em;
}

.music-tracks {
    .music-track {
        padding-bottom: 2em;

        .music-track-title {
            padding-bottom: 0.2em;
        }
    }
}

.music-top {
    text-align: center;
    padding-bottom: 2em;

    p.work-in-progress {
        color: #CCCCCC;
    }
}
