.music-link {
    &.music-link-youtube {
        color: #E5322E;

        .black {
            color: black;
        }
    }

    &.music-link-applemusic {
        color: black;
    }

    &.music-link-spotify {
        color: #1ED760;
    }

    margin-right: 1em;
    &:hover {
        text-decoration: none;
    }
}

.music-tracks {
    .music-track {
        padding-bottom: 2em;

        .music-track-title {
            padding-bottom: 0.2em;
        }
    }
}

.music-stage {
    text-align: center;
    padding-bottom: 2em;

    p.work-in-progress {
        color: #CCCCCC;
    }
}
