.music-link {
    font-size: 12pt;
    padding-top: 0.5em;
    padding-bottom: 1em;

    display: inline-block;

    &.music-link-youtube {
        color: #E5322E;

        .black {
            color: black;
        }
    }

    &.music-link-applemusic {
        color: black;
    }

    &.music-link-spotify {
        color: #1ED760;
    }

    &.music-link-playmusic {
        .grey {
            color: #767676;
        }

        .orange {
            color: #FF5722;
        }
    }

    &.music-link-bandcamp {
        color: #639AA9;
    }

    &.music-link-soundcloud {
        color: #FF6900;
    }

    &.music-link-geniuslyrics {
        display: inline-block;
        padding-left: 0.4em;
        padding-right: 0.2em;
        padding-bottom: 0.2em;
        padding-top: 0.1em;
        background-color: #FFFF64;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 11pt;
        color: #FFFF64;
        text-shadow: -2px 2px 0px black;
    }

    &.music-link-musixmatchlyrics {
        background-color: #FF536E;
        padding-left: 0.4em;
        padding-right: 0.4em;
        padding-bottom: 0.3em;
        padding-top: 0.2em;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 11pt;
        color: #FFFFFF;
    }

    margin-right: 1em;
    &:hover {
        text-decoration: none;
    }
}

.music-post-header {
    text-align: center;
    padding-bottom: 2em;
}

.music-tracks {
    .music-track {
        padding-bottom: 2em;

        .music-track-title {
            padding-bottom: 0.2em;
        }
    }

    p {
        margin-bottom: 0px !important;
    }
}

.music-top {
    text-align: center;
    padding-bottom: 2em;
}

.music-archives-header {
}

.music-archives {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 2em;

    .year-list-header {
        text-align: center;
        padding-top: 1em;
    }
    .year-list {
        padding-top: 1em;

        li {
            display: inline-block;
            line-height: 1.5em;
            padding-right: 2em !important;
            margin-right: -1em;
        }
        text-align: center;
    }
}

.music-explicit {
    font-size: 8pt;
    font-style: bold;
    font-family: sans-serif !important;
    background-color: #444444;
    color: #EEEEEE;
    padding: 0.2em 0.6em 0.2em 0.6em;
    margin-right: 0.3em;
    vertical-align: text-top;
}
