// COLORS
$color-black: #272727;
$color-white: #EEEEEE;
$color-grey: #EEEEEE;
$color-blue: #1A0DAB;
$color-code: #00FF00;
$color-hire-white: #FEFEFE;
$color-hire-black: #272727;
$color-hire-green: #B6EFD4;
$color-hire-blue: #A0CCDA;
$color-hire-shadow: rgba(0, 0, 0, 0.2);

// BREAKPOINTS
$br: 600px;

// THEME
$color-text: $color-black;
$color-background: $color-white;
$link-color: #c23616;
