$color-clouds: #ecf0f1;
$color-midnight-blue: #2c3e50;
$color-pumpkin: #d35400;
$color-orange: #f39c12;

$color-text: $color-midnight-blue;
$color-background: $color-clouds;
$color-link: $color-pumpkin;
