$color-nearlywhite: #FFFFFF;
$color-skyblue: #73B1D6;
$color-oceanblue: #4589B0;
$color-deepblue: #326E82;
$color-charcoal: #444444;
$color-ash: #666666;

$color-text: $color-charcoal;
$color-background: $color-nearlywhite;
$color-link: $color-deepblue;
