$color-cream: #FCEBB6;
$color-brown: #5E412F;
$color-orange: #F07818;
$color-tan: #F0A830;
$color-blue: #78C0A8;

$color-text: $color-brown;
$color-background: $color-cream;
$color-link: $color-blue;
