<script type="text/javascript">
function openAppleMusic(url) {
    var userAgent = navigator.userAgent || navigator.vendor || window.opera;
    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) { // if iOS
        window.open(url.replace('https', 'music'), '_blank');
    } else { // otherwise
        window.open(url, '_blank');
    }

    return false;
}
</script>

{% if include.data.date and include.date.date != "" %}
<p class="grey centered" style="margin-top: -2em; margin-bottom: 2.5em; font-size: 13pt;">{{include.data.date}}</p>
{% endif %}

<div class="music-tracks">
    {% for track in {{include.data.tracks}} %}
        {% if track.title and track.title != "" %}
        <div class="music-track">
            <div class="music-track-title"><p>
                {% if track.explicit %}<span class="music-explicit">E</span>{% endif %}
                {% if track.from and track.from != "" %}<span>{{track.from}} - </span>{% endif %}
                <span> <strong>{{track.title}}</strong> </span>
                {% if track.cover and track.cover != "" %}<span class="dark-grey"> ({{track.cover}}) </span>{% endif %}
                {% if track.by and track.by != "" %}<span> <span class="dark-grey">by</span> {{track.by}}</span>{% endif %}
            </p></div>
            <div class="music-links">
                {% if track.youtube and track.youtube != "" %}
                    <a class="music-link music-link-youtube" href="{{track.youtube}}" target="_blank"><strong><i class="fa fa-youtube-play" aria-hidden="true"></i> <span class="black">You</span>Tube</strong></a>
                {% endif %}
                {% if track.applemusic and track.applemusic != "" %}
                    <a class="music-link music-link-applemusic" href="{{track.applemusic}}" onclick="return openAppleMusic('{{track.applemusic}}')" target="_blank"><strong><i class="fa fa-apple" aria-hidden="true"></i> MUSIC</strong></a>
                {% endif %}
                {% if track.spotify and track.spotify != "" %}
                    <a class="music-link music-link-spotify" href="{{track.spotify}}" target="_blank"><strong><i class="fa fa-spotify" aria-hidden="true"></i> Spotify</strong></a>
                {% endif %}
                {% if track.playmusic and track.playmusic != "" %}
                    <a class="music-link music-link-playmusic" href="{{track.playmusic}}" target="_blank"><strong><span class="orange"><i class="fa fa-play-circle" aria-hidden="true"></i></span> <span class="grey">Play</span><span class="orange">Music</span></strong></a>
                {% endif %}
                {% if track.soundcloud and track.soundcloud != "" %}
                    <a class="music-link music-link-soundcloud" href="{{track.soundcloud}}" target="_blank"><strong><i class="fa fa-soundcloud" aria-hidden="true"></i> <i>soundcloud</i></strong></a>
                {% endif %}
                {% if track.bandcamp and track.bandcamp != "" %}
                    <a class="music-link music-link-bandcamp" href="{{track.bandcamp}}" target="_blank"><strong><i class="fa fa-bandcamp" aria-hidden="true"></i> <i>bandcamp</i></strong></a>
                {% endif %}
                {% if track.geniuslyrics and track.geniuslyrics != "" %}
                    <a class="music-link music-link-geniuslyrics" href="{{track.geniuslyrics}}" target="_blank"><strong><span aria-hidden="true"> G E N I U S </span></strong></a>
                {% endif %}
                {% if track.musixmatchlyrics and track.musixmatchlyrics != "" %}
                    <a class="music-link music-link-musixmatchlyrics" href="{{track.musixmatchlyrics}}" target="_blank"><strong><span aria-hidden="true"> musixmatch</span></strong></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
