<script type="text/javascript">
function openAppleMusic(url) {
    var userAgent = navigator.userAgent || navigator.vendor || window.opera;
    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) { // if iOS
        window.open(url.replace('https', 'music'), '_blank');
    } else { // otherwise
        window.open(url, '_blank');
    }

    return false;
}
</script>

{% if {{include.type}} == "new" %}
<p class="centered" style="margin-top: -1.5em; margin-bottom: 2.5em; font-size: 13pt;">
  <span class="grey">Updated {{include.data.date}}</span><br/>
  <a style="padding-left: 1.5em; margin-top: -0.5em;" class="music-link music-link-spotify" href="{{site.data.music.playlists.new.spotify}}" target="_blank"><strong><i class="fa fa-spotify" aria-hidden="true"></i> Spotify Playlist</strong></a>
  <a style="padding-left: 1.5em; margin-top: -0.5em;" class="music-link music-link-applemusic" href="{{site.data.music.playlists.new.applemusic}}" target="_blank"><strong><i class="fa fa-apple" aria-hidden="true"></i> MUSIC Playlist</strong></a>
</p>
{% endif %}

<div class="music-tracks">
    {% for track in {{include.data.tracks}} %}
        {% if track.title and track.title != "" %}
        <div class="music-track">
            <div class="music-track-title"><p>
                {% if track.explicit %}<span class="music-explicit">E</span>{% endif %}
                {% if track.from and track.from != "" %}<span>{{track.from}} - </span>{% endif %}
                <span> <strong>{{track.title}}</strong> </span>
                {% if track.cover and track.cover != "" %}<span class="dark-grey"> ({{track.cover}}) </span>{% endif %}
                {% if track.by and track.by != "" %}<span> <span class="dark-grey">by</span> {{track.by}}</span>{% endif %}
            </p></div>
            <div class="music-links">
                {% if track.youtube and track.youtube != "" %}
                    <a class="music-link music-link-youtube" href="{{track.youtube}}" target="_blank"><strong><i class="fab fa-youtube"></i> <span class="black">You</span>Tube</strong></a>
                {% endif %}
                {% if track.applemusic and track.applemusic != "" %}
                    <a class="music-link music-link-applemusic" href="{{track.applemusic}}" onclick="return openAppleMusic('{{track.applemusic}}')" target="_blank"><strong><i class="fab fa-apple"></i> MUSIC</strong></a>
                {% endif %}
                {% if track.spotify and track.spotify != "" %}
                    <a class="music-link music-link-spotify" href="{{track.spotify}}" target="_blank"><strong><i class="fab fa-spotify"></i> Spotify</strong></a>
                {% endif %}
                {% if track.playmusic and track.playmusic != "" %}
                    <a class="music-link music-link-playmusic" href="{{track.playmusic}}" target="_blank"><strong><span class="orange"><i class="fas fa-play-circle"></i></span> <span class="grey">Play</span><span class="orange">Music</span></strong></a>
                {% endif %}
                {% if track.soundcloud and track.soundcloud != "" %}
                    <a class="music-link music-link-soundcloud" href="{{track.soundcloud}}" target="_blank"><strong><i class="fab fa-soundcloud"></i> soundcloud</strong></a>
                {% endif %}
                {% if track.bandcamp and track.bandcamp != "" %}
                    <a class="music-link music-link-bandcamp" href="{{track.bandcamp}}" target="_blank"><strong><i class="fab fa-bandcamp"></i> bandcamp</strong></a>
                {% endif %}
                {% if track.geniuslyrics and track.geniuslyrics != "" %}
                    <a class="music-link music-link-geniuslyrics" href="{{track.geniuslyrics}}" target="_blank"><strong><span aria-hidden="true"> G E N I U S </span></strong></a>
                {% endif %}
                {% if track.musixmatchlyrics and track.musixmatchlyrics != "" %}
                    <a class="music-link music-link-musixmatchlyrics" href="{{track.musixmatchlyrics}}" target="_blank"><strong><span aria-hidden="true"> musixmatch</span></strong></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

<hr class="faded"/>
<div class="music-archives">
    <h4 class="music-archives-header">Archives</h4>
    {% for post in site.categories.music %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

        {% if forloop.first %}
        <h5 class="year-list-header">{{this_year}}</h5>
        <ul class="year-list">
        {% endif %}

        <li><a href="{{post.url}}">{{ post.date | date: '%B' }}</a></li>

        {% if forloop.last %}
        </ul>
        {% else %}
            {% if this_year != next_year %}
            </ul>
            <h5 class="year-list-header">{{next_year}}</h5>
            <ul class="year-list">
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
