{% include custom/navigation.html %}
{% if site.description %}
<section class="aboutme">
  <ul id="bxslider" class="bxslider">
    <li>Music, Food and Code - The three dimensions to my world.</li>
  </ul>
  <script type="text/javascript">
    var motd_obj;
    var motd_list;
    $.ajax({
      url: "http://dl.dropboxusercontent.com/u/30013949/motd.json",
    })
    .done(function(data) {
      motd_obj = JSON.parse(data);
      motd_list = motd_obj.messages;
      var list = $('#bxslider');
      for (motd in motd_list) {
        var message = motd_list[motd];
        switch (message.type) {
          case "quote":
            list.append('<li><strong>Quote:</strong> <br/>“' + message.text + '”</li>');
          break;
          case "joke":
            list.append('<li><strong>Joke:</strong> <br/>“' + message.text + '”</li>')
          break;
          case "link":
            list.append('<li><a style="color: #a7a7a7;" href="' + message.link + '" target="_blank"><strong>Link:</strong> ' + message.title + '</a></li>');
          break;
          case "msg":
            list.append('<li>' + message.text + '</li>');
          break;
        }
      }
      var bxslider = $('.bxslider').bxSlider({
        mode: 'fade',
        adaptiveHeight: true,
        auto: true,
        infiniteLoop: true,
        slideMargin: 20,
        speed: 500,
        pause: 8000,
        controls: false
      });
    });
  </script>
</section>
{% endif %}