<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <article class="excerpt">
      <div class="card border-0">
        <div class="card-body px-0">
          {% include post/title.html post=post %}
          <h6 class="card-subtitle mb-2 text-muted">
            <span class="post-date">
              {% include post/date.html post=post %}
              {% include post/category.html post=post %}
            </span>
          </h6>
          {% if post.coverimage != nil %}
            <a href="{{ post.url }}" class="card-link card-img-link"><div class="card-img-wrapper"><img class="card-img-top" src="{{ post.coverimage }}" alt="{{ post.imageAlt }}"/></div></a>
          {% endif %}
          <p class="card-text">
            {{ post.excerpt }} <a href="{{ post.url }}">» read more »</a>
          </p>
          {% include post/tags.html post=post %}
        </div>
      </div>
    </article>
    <hr/>
  </div>
</div>
