<table class="table full-width" id="recentlyplayed"></table>

<script type="text/javascript">
$(document).ready(function() {
  $.get("https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=sathyamvellal&api_key=0791402f4b42c447c7d3c2f913fa2427&format=json&limit=20")
  .done(function(results) {
    var tracks = results.recenttracks.track;
    var data = [];
    for (var i = 0; i < tracks.length; ++i) {
      var track = tracks[i];
      data.push({
        image: track.image[1]["#text"],
        track: {
          name: track["name"],
          artist: track["artist"]["#text"],
          album: track["album"]["#text"]
        }
      });
    }
    var columns = [
      { name: "image", title: " ", type: "text",
        formatter: function(image) {
          return "<img width=40 src='" + image + "'/>";
        }
      },
      { name: "track", title: "Track", type: "object",
        formatter: function(track) {
          return "<a target=\"_blank\" href=\"https://www.youtube.com/results?search_query=" + track.name + " " + track.artist + " " + track.album + "\">" + "<span><strong>" + track.name + "</strong></span></br/><span>" + track.artist + "</span> - <span class='grey'>" + track.album + "</span></a>";
        }
      },
    ];
    $("#recentlyplayed").footable({
      showHeader: false,
      columns: columns,
      rows: data
    });
  }).fail(function(err) {
    console.log('Error in loading recently played ...');
  })
})
</script>
