---
layout: musicdefault
title: 'Sathyam Vellal / Music'
description: 'Music I like/listen to'
---
<div class="music">
    <div class="music-top" id="stage">
        <p><strong><i class="fa fa-headphones" aria-hidden="true"></i></strong><p>
        <p>Music I like/listen to.</p>
        <p class="grey">This space shows recents. Monthly music archives are below.<br/>(No longer updated)</p>
    </div>

    <div class="music-posts">
        <ul class="pl-0">
            <li>
                <div class="music-post black-links">
                    <div class="music-post-header">
                      <h5 class="url"><a href="https://www.last.fm/user/sathyamvellal">Recently played (by Last.fm scrobbles)</a></h5>
                    </div>
                    <div class="music-post-content">
                        {% include scrobbles.html %}
                    </div>
                </div>
            </li>
            {% include musictracks.html %}
            <hr class="faded" />
            <div class="music-archives">
                <h4 class="music-archives-header">Concerts</h4>
            </div>
            <li>
                <div class="music-post">
                    <div class="music-post-header">
                      <span class="url"><a href="/music/concerts/2017/hans-zimmer-revealed">Hans Zimmer Revealed 2017</a>, Microsoft Theatre, Los Angeles</span>
                    </div>
                </div>
                <div class="music-post">
                    <div class="music-post-header">
                      <span class="url"><a href="https://goo.gl/photos/c9sLFiKG6Yp4uq2V9">Eddie Palmieri Salsa Orchestra 2016</a>, Burton Chace Park, Marina Del Rey</span>
                    </div>
                </div>
                <div class="music-post">
                    <div class="music-post-header">
                      <span class="url"><a href="https://goo.gl/photos/5NUxF6WSQEGTNgFJ6">New Jazz Showcase - Jazz Music by USC Students 2016</a>, Ground Zero Performance Cafe, USC</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
